*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# system ignore
.DS_Store
Thumbs.db

# temp ignore
*.cache
*.diff
*.patch
*.tmp

# idea ignore
.idea/
*.ipr
*.iml
*.iws